@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f7fa;
}

.main-heading {
    color: #4b0082;
    font-size: 28px;
    font-weight: bold;
}

.main-para {
    color: #3e4c59;
    font-size: 18px;
}

.timer-container {
    font-size: 24px;
    color: #3e4c59;
}

img {
    height: 50px;
    width: 50px;
}

.typing-area {
    border: 1px solid #9aa5b1;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.quote-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.result-style {
    font-size: 18px;
    color: #008000;
    font-weight: bold;
}

button {
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
}
