@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.wiki-search-header {
    border: 1px solid #d5cdcd;
    padding: 30px;
    margin-bottom: 40px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.wiki-logo {
    width: 150px;
    margin-bottom: 20px;
}

.search-input {
    font-size: 18px;
    border: 1px solid #d5cdcd;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.search-results {
    width: 100%;
    padding-left: 10px;
}

.result-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-title {
    font-size: 20px;
    font-weight: bold;
    color: #1a0dab;
}

.result-url {
    color: #006621;
    text-decoration: none;
    font-size: 16px;
}

.link-description {
    color: #444;
    font-size: 15px;
    margin-top: 5px;
}
